<div class="main">
    <div class="container">
        <%= image_tag "image_#{rand(100..500)}.png.jpg" %>
        <br>
        <%= "controller_name: " + controller_name %>
        <br>
        <%= "action_name: " + action_name %>
        <br>
        <%= "capaign_id: " + params[:campaign_id] %>

        <br>
        <%= simple_format controller.get_banner("phil") %>

    </div>
</div>
